.btnLog {
    background-color: #ff9500;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .btnLog:hover {
    background-color: #e68900;
    color: #fff;
  }
  
  .btnSign {
    background-color: #eeeeee;
   
    transition: background-color 0.3s ease;
  }
  
  .btnSign:hover {
    background-color: #dddddd;
    color: black;
  }
  
  